.label-info {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    display: flex;
    --ion-color-base: var(--ion-color-dark) !important;
}
ion-button {
    font-weight: bold;
    text-transform: none;
    --border-radius: 8px;
    --border-width: 1px;
    font-size: 12px;
}
.button-upload {
    height: 42px;
    margin-bottom: 20px;
}
.span-info {
    font-size: 14px;
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
    color: #747474;
}