<ion-grid no-padding>
  
  <input hidden type="file" #fileInput (change)="fileChange($event)">
  <ion-row *ngIf="!arquivo">
    <ion-col no-padding>
      <ion-label class="label-info" color="primary">ADICIONE UM DOCUMENTO</ion-label>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="!arquivo">
    <ion-col no-padding>
      <ion-button class="button-upload" fill="outline" color="primary" (click)="fileInput.click()">
        <ion-icon size="large" slot="start" src="assets/icon/upload.svg"></ion-icon>
        <ion-text>selecione um arquivo</ion-text>
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="arquivo" no-padding >
    <ion-col no-padding>
      <ion-grid no-padding>
        <ion-row>
          <ion-label class="label-info">CARREGAMENTOS</ion-label>
        </ion-row>
        <ion-row>
          <ion-label *ngIf="!showProgress" style="font-size: 14px;">{{ titleize(arquivo.name) }} - enviado em 
            {{ arquivo.lastModifiedDate | date:'dd/MM/yyyy HH:mm:ss' }}
          </ion-label>
        </ion-row>
      </ion-grid>
    </ion-col>
  </ion-row>
  <ion-item no-padding *ngIf="arquivo" lines="none">
      <ion-icon no-padding src="assets/icon/ic_picture_as_pdf_24px.svg"></ion-icon>
      <span class="span-info">
          {{ nomeDoArquivo(arquivo.name) }}
      </span>
      <ion-buttons>
          <ion-button slot="end" color="primary2" (click)="confirmeRemoveFile()">
              <ion-icon size="small" slot="start" src="assets/icon/trash.svg"
              color="danger"></ion-icon>
              excluir
            </ion-button>
            <ion-button  slot="end" color="primary2" (click)="visualizaPdf()">
              <ion-icon size="small" slot="start" src="assets/icon/ic_file_upload_48px.svg"></ion-icon>
              visualizar PDF
            </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-row *ngIf="showProgress" style="margin-bottom: 15px;">
      <ion-progress-bar style="border-radius: 7px; height: 7px;" color="secondary" [value]="timeouProgress"></ion-progress-bar>
    </ion-row>
  
</ion-grid>