
<ion-content class="ion-padding">

  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title color="primary">
        {{ title }}
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <form [formGroup]="clienteForm" (submit)="onSubmit()">
    <ion-row>
      <ion-col>
        <ion-radio-group>
          <ion-list-header>
            <ion-label>Tipo Cliente</ion-label>
          </ion-list-header>
      
          <ion-item-group allow-empty-selection="true" name="radio-group"
            (click)="fishyHandler($event)"  
            (ionSelect)="goFish($event)"
            (ionBlur)="leaveFish($event)"
          >
            <ion-item-divider lines="none">
              <ion-item lines="none">
                <ion-label>Pessoa fisica</ion-label>
                <ion-radio slot="start"  value="PF"></ion-radio>
              </ion-item>
              <ion-item lines="none">
                <ion-label>Pessoa juridica</ion-label>
                <ion-radio slot="start" value="PJ"></ion-radio>
              </ion-item>

            </ion-item-divider>
          </ion-item-group>
        </ion-radio-group>
      </ion-col>
    </ion-row>
    <ion-item>
      <ion-label position="stacked">Nome</ion-label>
      <ion-input 
        clearInput="true"
        type="text"
        required="true"
        formControlName="nome"
        placeholder="Ex. Maria">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">E-mail</ion-label>
      <ion-input 
        clearInput="true"
        type="email"
        formControlName="email"
        required="true"
        placeholder="Ex. maria@gmail.com">
      </ion-input>
    </ion-item>
    <ng-container *ngIf="tipoCliente !=='PJ'">
      <ion-item>
        <ion-label position="stacked">CPF</ion-label>
        <ion-input 
          clearInput="true"
          type="text"
          formControlName="cpf"
          placeholder="Ex. 999.999.999-99">
        </ion-input>
      </ion-item>
    </ng-container>
    
    <ng-container *ngIf="tipoCliente !=='PF'">
      <ion-item>
        <ion-label position="stacked">CNPJ</ion-label>
        <ion-input 
          clearInput="true"
          type="text"
          formControlName="cnpj"
          placeholder="Ex. 99.999.999/0001-00">
        </ion-input>
      </ion-item>
    </ng-container>

    <ng-container *ngIf="cliente?.documentos.length === 0 || cliente === undefined">
      <app-upload-documento 
        (upload)="upload($event)">
      </app-upload-documento>
    </ng-container>


    <ion-button 
      type="submit"
      class="ion-margin"
      expand="block"
      [disabled]="clienteForm.invalid"
      color="primary">
      {{ buttonTitle }}
    </ion-button>

  </form>
</ion-content>
