<ion-row
  class="linha-tabela"
  justify-content-start
  align-items-center>
  <ion-col size="0.5" no-padding>
    {{ cliente.id }}
  </ion-col>
  <ion-col size="2.5">{{ cliente.nome }}</ion-col>
  <ion-col size="2.5">{{ cliente.email }}</ion-col>
  <ion-col size="1.5">{{ cliente.tipo }}</ion-col>
  <ion-col size="1.5">{{ cliente.cpf != null ? cliente.cpf : cliente.cnpj }}</ion-col>
  <ion-col size="1.5">{{ cliente.dataCadastro | date:'dd/MM/yyyy HH:mm:ss' }}</ion-col>
  <ion-col size="2">
    <ion-icon *ngIf="cliente.documentos.length > 0"
      src="assets/icon/download.svg"
      color="primary"
      (click)="download.emit(cliente)"
      (click)="$event.stopPropagation()"
    ></ion-icon>
    <ion-icon
      src="assets/icon/pen.svg"
      color="warning"
      (click)="update.emit(cliente)"
      (click)="$event.stopPropagation()"
    ></ion-icon>
    <ion-icon 
      src="assets/icon/trash.svg"
      color="danger"
      (click)="onDelete()"
    ></ion-icon>
  </ion-col>
</ion-row>

