/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


/** Action Bar Modal **/
.action-bar-modal.full-height .modal-wrapper {
    height: 100%;
  }
  .action-bar-modal .modal-wrapper {
    height: 90%;
  }
  
  .action-bar-modal .modal-wrapper .ion-page {
    padding: 0 40px 15px 45px !important;
  }
  
  .action-bar-modal .modal-wrapper .ion-page ion-footer {
    margin: 10px 0 !important;
  }
  
  .action-bar-modal .modal-wrapper .ion-page .footer-md::before {
    background-image: none !important;
  }