<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cliente
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  
  
  <ion-grid no-paddind>
    <ion-row>
      <ion-col size="6">{{ (clientes$| async)?.length }} clientes</ion-col>
      <ion-col size="6">
        <!-- baixar tabela -->
      </ion-col>
    </ion-row>
    <ion-row class="header" justify-content-start align-items-center>
      
      <ion-col size="0.5" no-padding>
        #
      </ion-col>
      <ion-col size="2.5">Nome</ion-col>
      <ion-col size="2.5">Email</ion-col>
      <ion-col size="1.5">Tipo</ion-col>
      <ion-col size="1.5">Cpf/Cnpj</ion-col>
      <ion-col size="1.5">Data</ion-col>
      <ion-col size="2">Açōes</ion-col>
    </ion-row>
  
    <ion-list *ngIf="(clientes$ | async) as clientes">
    
      <ng-container *ngIf="clientes.length > 0; else noCliente">
        <app-item-cliente
          *ngFor="let cliente of clientes"
          [cliente]="cliente"
          (update)=onUpdate($event)
          (delete)="onDelete($event)"
          (download)="onDownload($event)">
        </app-item-cliente>
        
      </ng-container>
      
      <ng-template #noCliente>
        <ion-item lines="none">Ops.. nhenum clinete encotrado na base.</ion-item>
      </ng-template>
      
    </ion-list>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="onNovoCliente()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
